<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bienvenue - Magasin Informatique</title>
</head>

<body class="accueil">
    <div class="overlay">
        <h1 style="color:white; font-size:40px;">Magasin Informatique</h1>
        <div class="actions">
            <a href="/login" class="btn">Se connecter</a>
            <a href="/signup" class="btn">Créer un compte</a>
        </div>
    </div>
</body>

</html>