<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Espace Client</title>
</head>

<body>
    <a href="/" class="btn-logout logout">Se déconnecter</a>

    <div class="commande-box">
        <h1>Espace Client</h1>

        <h3>Historique des achats</h3>
        {% if produits %}
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Qté</th>
                </tr>
            </thead>
            <tbody>
                {% for p in produits %}
                <tr>
                    <td>{{ p.nom }}</td>
                    <td>{{ p.prix }} €</td>
                    <td>{{ p.quantite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Aucun achat enregistré pour le moment.</p>
        {% endif %}

        <div style="margin-top: 30px;">
            <a href="/client/{{ id_client }}/commander" class="btn">Passer une commande</a>
            <br><br>
            <a href="{{ url_for('voir_panier', id_client=id_client) }}" class="btn">Voir mon Panier</a>
        </div>
    </div>
</body>

</html>