<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Erreur Stock</title>
</head>

<body>
    <div class="commande-box">
        <h1>Erreur : Stock insuffisant</h1>
        <p>La quantité demandée dépasse le stock disponible.</p>

        <a href="/client/{{ id_client }}/commander">Retourner au formulaire</a>
        <br>
        <a href="/client/{{ id_client }}">Retour à mon espace client</a>
    </div>
</body>

</html>