<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Validation</title>
</head>

<body>
    <div class="center-form">
        <div class="login-box">
            <h2>Validation du compte</h2>
            <form method="POST">
                <input type="text" name="code" placeholder="Entrez le code reçu" required>
                <button type="submit" class="btn">Valider</button>
            </form>
        </div>
    </div>
</body>

</html>