<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Inscription réussie</title>
</head>

<body>
    <div class="center-form">
        <div class="login-box">
            <h2>Inscription réussie !</h2>
            <p>Votre code de vérification est :</p>
            <h1 style="color: #6a11cb; letter-spacing: 5px;">{{ code }}</h1>
            <p>Copiez ce code et validez votre compte.</p>

            <a href="/enter-code?id={{ id }}" class="btn">Valider mon compte</a>
        </div>
    </div>
</body>

</html>